:root {
    --primary-font: 'Poppins', sans-serif;
    --main-font: 'Roboto', sans-serif;

    --main-font-color: black;
    --font-color-dark: rgb(71, 69, 69);
    --font-color-light: #797D7F;

    --bg-color-light: #F4F6F6;
    --bg-coler-dark: #273746;
    --button-color: #DC7633;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
}

/****
 nav-bar  
     ****/

.nav-bar {
    background-color: var(--bg-color-light);
    display: flex;
    justify-content: space-between;
}

#shop-title {
    color: var(--font-color-light);
    padding: 5vh;
    margin-left: 20px;
    position: relative;
}

#shop-title h4 {
    position: relative;
}

.nav-links {

    /* background-color: rgb(230, 139, 139); */
    display: flex;
    list-style: none;
    padding: 5vh;
    margin-right: 10px;
}

.nav-links a {
    font-weight: 400;
    font-size: 12px;
    color: var(--main-font-color);
    text-decoration: none;
    padding-left: 4vh;
}

/*****
 welcome content  
      *****/

.welcome-content {
    background-color: var(--bg-color-light);
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 40px;
    font-family: var(--primary-font);
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: var(--main-font-color);
    font-size: 35px;
}

.container p {
    font-size: 0.8rem;
    color: var(--font-color-dark);
    padding-bottom: 10px;
}

#welcome-img img {
    display: block;
    max-width: 100%;
    min-width: 200px;
}

.container a {
    font-size: 15px;
    font-weight: 300;
    color: rgb(252, 252, 252);
}

.fa-star {
    color: red;
}

.buy-button {
    background-color: var(--button-color);
    text-decoration: none;
    justify-content: center;
    padding: 2px 20px;
    border-radius: 20px;
}

/* shopping container */

.shopping-container {
    background-color: var(--bg-color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shopping-container>h2 {
    font-family: var(--primary-font);
    padding: 20px;
}

.items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    margin: 20px;
}

.item {
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

.item-banner img {
    width: 100%;
}

.item-title {
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--main-font-color);
}

.item-price {
    font-family: var(--main-font);
    font-weight: 200;
    color: var(--font-color-light);
}

.item-discript {
    font-family: var(--primary-font);
    font-size: 12px;
}

.see-more-btn {
    text-decoration: none;
    color: #DC7633;
    justify-content: flex-end;
}


/* footer  */
footer {
    background-color: var(--bg-coler-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.footer-container {
    margin: 30px;
}

.social-links {
    list-style: none;
    display: flex;
}

.social-links i {
    font-size: 15px;
    background-color: #797D7F;
    border-radius: 50%;
    margin: 10px;
    padding: 5px;
}